<h2 class="form-mantenimiento-title">Editar Servicios Realizados a Orden de Trabajo En Proceso</h2>
<form clrForm>
  <div class="clr-col-8">
    <clr-select-container>
      <label>Estado de la Orden:</label>
      <select clrSelect name="estadoOT" #selectEstadoOT
              [(ngModel)]="estadoOT"
              (change)="onSelectedEstado(selectEstadoOT.value)">
        <option *ngFor="let estado of estados"
                value={{estado.nombre}}>{{estado.nombre}}
        </option>
      </select>
    </clr-select-container>
  </div>
  <br/>
  <div class="clr-col-8">
    <table class="table table-vertical">
      <tbody>
      <tr>
        <th class="info-table-header">Tipo Mantenimiento:</th>
        <td>{{tipoServicio}} </td>
      </tr>
      <tr>
        <th class="info-table-header">Persona que reporta el problema:</th>
        <td>{{responsable}}</td>
      </tr>
      <tr>
        <th class="info-table-header">Descripción del Problema:</th>
        <td>{{diagnostico}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <hr>
  <!-- información del equipo-->
  <h4 class="form-mantenimiento-sub-title">Información del Equipo</h4>

  <table class="table table-compact">
    <thead>
    <tr>
      <th class=" table-header left">Nro. Serie</th>
      <th class=" table-header">Nro. Patrimonial</th>
      <th class=" table-header">Tipo</th>
      <th class=" table-header">Marca</th>
      <th class=" table-header">Modelo</th>
      <th class=" table-header">Descripción</th>
      <th class=" table-header">Ubicación</th>
      <th class=" table-header">Representante</th>
      <th class=" table-header">Fecha de Vto. de Garantía</th>
      <th class=" table-header left">Contrato Nro</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="table-column left">{{equipoSeleccionado?.numeroSerie}}</td>
      <td class="table-column left">{{equipoSeleccionado?.numeroPatrimonial}}</td>
      <td class="table-column left">{{equipoSeleccionado?.tipoEquipo?.tipo}}</td>
      <td class="table-column">{{equipoSeleccionado?.marca?.marca}}</td>
      <td class="table-column">{{equipoSeleccionado?.modelo?.modelo}}</td>
      <td class="table-column">{{equipoSeleccionado?.descripcionEquipo}}</td>
      <td
        class="table-column">{{ equipoSeleccionado?.ubicacion?.bloque ? equipoSeleccionado?.ubicacion?.bloque + ' ' : ''  }}
        {{equipoSeleccionado?.ubicacion?.nivel ? equipoSeleccionado?.ubicacion?.nivel + ' ' : '' }}
        {{equipoSeleccionado?.ubicacion?.numeroSala ? equipoSeleccionado?.ubicacion?.numeroSala + ' ' : '' }}</td>
      <td class="table-column">{{equipoSeleccionado?.representante.nombre}}</td>
      <td class="table-column">{{equipoSeleccionado?.fechaVenGarantia}}</td>
      <td class="table-column text-center">{{equipoSeleccionado.contratos[0]? equipoSeleccionado.contratos[0].numeroContrato: 'Sin contrato'}}</td>
    </tr>
    </tbody>
  </table>

  <br/>
  <hr>
  <h4 class="form-mantenimiento-sub-title">Repuestos Solicitados</h4>
  <div class="clr-row">
    <div class="alert alert-danger" *ngIf="repError">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">{{repErrorMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="repError = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </div>
  <div class="clr-col-8" *ngIf="solicitudRepuesto == null">
    <clr-select-container>
      <label class="label-input ">Solicitud Repuesto:</label>
      <select clrSelect name="solicitudRepId" [(ngModel)]="solicitudRepId"
              (ngModelChange)="onSelectedSolicitudRepuesto()">
        <option>Seleccionar Solicitud ID</option>
        <option *ngFor="let solicitud of solicitudRepuestoPendientes"
                value={{solicitud.id}}>{{solicitud.id}}
        </option>
      </select>
    </clr-select-container>
  </div>
  <div class="clr-col-8">
    <div *ngIf="solicitudRepuesto != null">
      <p class="label-input ">Solicitud Repuesto ID Seleccionada: {{solicitudRepuesto?.id}}</p>
    </div>

  </div>
  <br/>
  <div class="card">
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary"
              (click)="agregarRepuesto()">
        <clr-icon shape="plus"></clr-icon>
        Agregar Repuesto
      </button>
    </div>
  </div>
  <p-table [value]="solicitudRepuestoDetalles">
    <ng-template pTemplate="header">
      <tr>
        <th class="table-header">Código</th>
        <th class="table-header">Descripción</th>
        <th class="table-header">Tipo</th>
        <th class="table-header">Marca</th>
        <th class="table-header">Modelo</th>
        <th class="table-header">Representante</th>
        <th class="table-header">Precio</th>
        <th class="table-header">Cantidad Solicitada</th>
        <th style="width:6rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detalle>
      <tr>
        <td class="table-column" style="text-align: center">{{detalle.repuesto?.codigo}}</td>
        <td class="table-column">{{detalle.repuesto?.descripcionArticulo}}</td>
        <td class="table-column">{{detalle.repuesto?.tipoEquipo?.tipo}}</td>
        <td class="table-column">{{detalle.repuesto?.marca?.marca}}</td>
        <td class="table-column">{{detalle.repuesto?.modelo?.modelo}}</td>
        <td class="table-column">{{detalle.repuesto?.representante?.nombre}}</td>
        <td class="table-column" style="text-align: right">{{detalle.repuesto?.precio}}</td>
        <td class="table-column" style="text-align: center">{{detalle.cantidadSolicitada}}</td>
        <td>
          <button type="button" pButton pRipple icon="pi pi-pencil" class="p-button-success"
                  (click)="editRepuesto(detalle)"></button>
          <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-danger"
                  (click)="eliminarDetalleRepuesto(detalle,true)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <br>
  <hr>
  <!--  Registro de servicio-->
  <h4 class="form-mantenimiento-sub-title">Registro de servicio</h4>
  <!-- errors -->
  <div class="clr-col-8">
    <div class="alert alert-danger" *ngIf="error">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">{{errorMessage}}</span>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="error = false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </div>

  <br/>
  <p-table [value]="servicioRealizadoList">
    <ng-template pTemplate="header">
      <tr>
        <th class="table-header">Fecha Servicio</th>
        <th class="table-header">Nro Orden Servicio</th>
        <th class="table-header">Informe Numero</th>
        <th class="table-header">Tipo de mantenimiento</th>
        <th class="table-header">Tarea Realizada</th>
        <th class="table-header">Nombre del Técnico</th>
<!--        <th style="width:6rem"></th>-->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-servicio>
      <tr>
        <td class="table-column" style="text-align: center">{{servicio?.fechaMantenimiento}}</td>
        <td class="table-column">{{servicio?.numeroOrdenServicio}}</td>
        <td class="table-column">{{servicio?.informeNumero}}</td>
        <td class="table-column">{{servicio?.tipoServicio}}</td>
        <td class="table-column" style="text-align: right">{{servicio?.tareaRealizada}}</td>
        <td class="table-column">{{servicio?.nombreTecnico}}</td>

<!--        <td>-->
<!--          <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-danger"-->
<!--                  (click)="eliminarDetalleServicio(servicio)"></button>-->
<!--        </td>-->
      </tr>
    </ng-template>
  </p-table>
  <br/>

  <div class="clr-row clr-justify-content-start">
    <div class="clr-col-6">
      <clr-input-container>
        <label class="clr-col-5">Nro Orden Servicio:</label>
        <input clrInput type="text" [(ngModel)]="numeroOrdenServicio" name="nroOrdenServicio"/>
      </clr-input-container>

      <clr-input-container>
        <label class="clr-col-8">Nombre del Técnico:</label>
        <input class="tamanho-medio" clrInput type="text" [(ngModel)]="nombreTecnico" name="nombreTecnico"/>
      </clr-input-container>

    </div>
    <div class="clr-col-6">
      <clr-input-container>
        <label class="clr-col-5">Informe Nro:</label>
        <input clrInput type="text" [(ngModel)]="informeNro" name="informeNro"/>
      </clr-input-container>
    </div>

    <div class="clr-col-10">
      <clr-textarea-container>
        <label class="clr-col-8">Tarea Realizada:</label>
        <textarea class="tamanho-total clr-col-6" clrTextarea [(ngModel)]="tareaRealizada" name="tareaRealizada">
      </textarea>
      </clr-textarea-container>
    </div>
    <!--    estado del equipo-->
    <div class="clr-col-8">
      <clr-select-container>
        <label>Estado del Equipo</label>
        <select clrSelect name="estado" [(ngModel)]="equipoSeleccionado.estado">
          <option value="Operativo">Operativo</option>
          <option value="Inoperativo">Inoperativo</option>
          <option value="Irreparable">Irreparable</option>
        </select>
      </clr-select-container>
    </div>
    <br><br>
  </div>

  <br/><br/>
  <div class="clr-row clr-justify-content-start">
    <a class="btn btn-sm btn-success"
       (click)="onSaveMantenimiento()">
      <clr-icon shape="floppy"></clr-icon>
      Save
    </a>

    <a class="btn btn-sm btn-secondary"
       (click)="goBack()">
      <clr-icon shape="window-close"></clr-icon>
      Cancel
    </a>
  </div>

</form>

<!--Modal para agregar o editar los datos de un repuesto-->
<app-solicitud-repuesto-detalle *ngIf="modalAddEditDetalleOpen"
                                [solicitudRepuesto]="solicitudRepuesto"
                                [solicitudRepuestoDetalle]="detalleSeleccionado"
                                [isEditRepuesto]="false"
                                (detalleRepuestoToUpdate)="addEditRepuesto($event)"
                                (cancelAddEditRepuesto)="onCancelAddEditRepuesto($event)">
</app-solicitud-repuesto-detalle>
